<div class="d-flex">
<h1>Survey Analytics</h1>

<div class="m-auto small">
  <button
    *ngFor="let cat of categories; let idx = index"
    [style.background-color]="colors[idx]"
    class="sd-btn sd-navigation__next-btn"
    [class.disactive]="cat !== selectedCategory"
    (click)="generateEChart(cat)"
  >
    {{cat}}
  </button>
</div>

<div style="display: flex; margin: 2rem;">
  <div id="chart" style="width: 100%; height: 50dvh; flex: 2"></div>
  <div id="chart2" style="width: 100%; height: 50dvh; flex: 2"></div>
  <div id="chart3" style="width: 100%; height: 50dvh; flex: 1"></div>

</div>

<div class="m-auto">
  <button
    class="sd-btn sd-navigation__next-btn"
    [class.disactive]="filter !== 'anonimo'"
    (click)="filter = 'anonimo'"
  >
    Anonymous
  </button>
  <button
    class="sd-btn sd-navigation__next-btn"
    [class.disactive]="filter !== 'non_anonimo'"
    (click)="filter = 'non_anonimo'"
  >
    Non Anonymous
  </button>
</div>

<survey-analytics
  [surveyJson]="json"
  [results]="data"
  *ngIf="data"
></survey-analytics>
</div>
