body {
  font-family: "Rubik", serif !important;
  padding: 0;
  margin: 0;
  font-family: arial;
  background: #111;
}

#dragArea {
  height: 200px;
  width: 50px;
  background: #fff3;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex
;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
  justify-content: center;
  font-size: small;
}

#view {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

html,
body {
    overscroll-behavior-y: contain;
}

#view canvas {
  position: absolute;
  border: 2px solid #fff;
  border-left-color: #f81630;
  border-left-style: dashed;
  top: 0;
  left: 0;
}

.modal {
  position: fixed;
  display: block;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: pop 0.5s;
}

.btn {
  background: #ffd84d !important;
}

@keyframes pop {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.pop {
  animation: pop 0.5s;
}

quote {
  position: relative;
  font-style: italic;
  padding-left: 2rem !important;
}

quote:before {
  content: "“";
  font-weight: bold;
  font-family: serif;
  font-size: 2.4rem;
  color: #84848477;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  padding: 0.5rem;
}

.text-primary {
  color: #ffac4d !important;
}

small {
  font-size: small;
}

input {
  &::-webkit-slider-thumb,
  &::-moz-range-thumb,
  &::-ms-thumb {
    background: #ffac4d !important;
  }
}
.to-yellow {
  filter: hue-rotate(200deg);
}


.cursor-question {
  cursor: help;
}

.left-50 {
  left: 50%;
  transform: translateX(-50%);
}

.opacity-25 {
  filter: grayscale(1);
}


.text-left {
  text-align: left;
}

canvas {
  scale: 0.5;
}

kbd {
  box-shadow: 1px 2px 0 #888, 0 3px 5px #0005;
}

.leaderrow:nth-child(odd) {
  background-color: #fff2;

}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.instructions {
  display: flex;
  gap: 20px; /* Space between text and image */
}

.instructions-text {
  flex: 1.5;
  text-align: left;
}

.instructions-image {
  flex: 1;
  margin: auto;
  }

.instructions-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: Makes the image look nicer */
}
.grid-container {
  display: grid;
  grid-template-columns: auto 1fr; /* Two columns: auto-sized label and flexible content */
  gap: 10px; /* Space between columns */
  align-items: start; /* Align items to the top of the grid row */
}


.items p {
  margin: 0; /* Remove default margin for clean alignment */
}

/*
  *  Input
  */


/*
 * Plugin style
 */
 .numberstyle-qty {
  position: relative;
  border-radius: 6px;
  background-color: #FFFFFF;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(116, 116, 116, 0.25);
}

.numberstyle-qty input,
.numberstyle-qty .qty-btn {
  position: relative;
  display: block;
  float: left;
  height: 40px;
  padding: 0;
  margin: 0;
  border: 0px;
  text-align: center;
  line-height: 40px;
  outline: 0;
  box-shadow: 0px;
}

.numberstyle-qty .qty-btn {
  width: 40px;
  font-size: 18px;
  cursor: pointer;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 250ms ease;
}

.numberstyle-qty .qty-btn.disabled {
  cursor: default;
  color: rgba(116, 116, 116, 0.5);
}

.numberstyle-qty input {
  width: 50px;
  border-left: 0;
  border-right: 0;
  color: #747474;
  font-size: 18px;
  font-weight: 700;
  z-index: 1;
}

.numberstyle-qty input:focus {
  outline: 0;
  box-shadow: 0px;
}

.numberstyle-qty input[type=number]::-webkit-inner-spin-button,
.numberstyle-qty input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberstyle-qty input[type=number] {
  -moz-appearance: textfield;
}

/*
 * More from me link 🔥
 */
.more {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 7px 21px;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  -webkit-animation: reveal 5000ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
          animation: reveal 5000ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
.more::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 20%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  transition: max-width 0ms ease 250ms, background-color 250ms ease;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.more:hover::before {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 250ms ease;
}

@-webkit-keyframes reveal {
  0%, 90% {
    bottom: -30px;
  }
  100% {
    bottom: 15px;
  }
}

@keyframes reveal {
  0%, 90% {
    bottom: -30px;
  }
  100% {
    bottom: 15px;
  }
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.preview {
  object-fit: cover;
  max-height: 50dvh;
  height: 100%;
}