

<div class="container sd-root-modern">

  <ng-container *ngIf="group === 1">
    <ng-container *ngIf="step === 1">
      <div class="sd-container-modern__title sd-title">
        <div class="sd-header__text">
          <h3 class="sd-title" aria-label="Esperimento sul comportamento nelle donazioni">
            <span class="sv-string-viewer">Esperimento sul comportamento nelle donazioni</span>
          </h3>
          <div class="sd-description">
            <span class="sv-string-viewer sv-string-viewer--multiline">Studio sull'impatto del riconoscimento sociale sulle donazioni.</span>
          </div>
          <h2 style="text-align: center;">What others've donated</h2>
        </div>
        <div class="sd-hidden"></div>
      </div>
          <div id="chart"></div>
      <table class="sd-table">
        <tr>
          <th>Donation</th>
          <th>Amount</th>
          <th>Time</th>
        </tr>
        <tr *ngFor="let donation of compressedData" style="border-bottom: 1px solid #ddd">
          <td>{{ donation.first_name || 'Anonymous donator' }} {{ donation.last_name }}</td>
          <td>{{ donation.donation_amount || 0 }} €</td>
          <td>{{ donation.time | date: 'dd/MM/yyyy HH:mm'}}</td>
        </tr>
      </table>
      <button class="sd-btn sd-navigation__next-btn" (click)="step = step + 1">Start this f*cking survey</button>
    </ng-container>
    <ng-container *ngIf="step === 2">
      <survey [model]="model" (submitSurvey)="sendData($event)"></survey>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="group === 0">
    <survey [model]="model" (submitSurvey)="sendData($event)"></survey>
  </ng-container>



</div>
