td { padding: 0.5rem; text-align: center; }

table {
  background: #000 !important;
}

th {
  color: var(--sjs-general-backcolor)
}


.sd-btn {
  --sjs-general-backcolor: rgba(255, 216, 77, 1);
  color: #000;
  margin: 2rem auto;
  display: flex;
}

#chart {
  width: 90%;
  margin: auto;
  display: flex;
  height: 50vh;
}

.d-none {
  display: none;
}
